#Menu{
    display: grid;
    border: none;
    height: 200px;
    width: 300px;
    border: solid black;
}

#Menu button{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    background-color: white;
}